@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    color: #030102;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    cursor: pointer;
}

*:focus {
    outline: none;
}

.app {
    background-color: rgba(236, 235, 235, 0.438);
    width: 100wv;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}